@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#main {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFBDA;
}
#page-1{
  display: flex;
  gap: 2vmax;
  align-items: center;
  justify-content: center;
  height: 110vh;
  padding: 0 5vmax;
}
.s-imgs img{
  height: 7vmax;
  width: 7vmax;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.4s;
}
.s-imgs img:hover{
  transform: scale(0.91);
}
.b-imgs img{
  height: 29vmax;
  width: 29vmax;
  object-fit: cover;
}
.dtls{
 display: flex; 
 flex-direction: column;
 gap: 1vmax;
}
.dtls h1{
  font-size: 3vmax;
  line-height: 1;
}
.dtls p{
  width: 80%;
  text-align: justify;
  font-size: 1.2vmax;
}
#page-2{
  width: 100%;
  padding: 2vmax 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vmax;
  margin-bottom: 2vmax;
}
#page-2 h1{
  font-size: 3vmax;
  height: 1;
  font-weight: 500;
}
#page-2 a{
  text-decoration: none;
  color: black;
}
#page-2 section span{
  font-size: 1.4vmax;
  font-weight: 500;
  
}

.p-box{
  padding: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(
    180deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  border-radius: 15px;
  width: 15vmax;
  gap: 1vmax;
  transition: transform 0.3s;
  cursor: pointer;
}
.p-box span{
  font-weight: 500;
  font-size: 1.3vmax;
  text-align: center;
}
.p-box img{
  object-fit: cover;
  background-color: #FFFBDA;
  width: 100%;
  border-radius: 10px;
}
.p-box:hover{
  transform: translateY(-15px);
  box-shadow: 10px 10px 25px rgba(255, 166, 0, 0.4);
}
@media (width<600px) {
  #page-1{
    flex-direction: column;
    text-align: center;
  }
  .dtls{
    align-items: center;
  }
}