@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#main {
  /* min-height: 100vh; */
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
#page-1 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header.sticky{
  position: fixed;
  background-color: #070f2b;
}
.header {
  height: 6vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 5vmax;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  width: calc(100% - 10vmax);
  transition: all 0.5s;
}
#logo img {
  height: 4.2vmax;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 2vmax;
}
.header nav ul {
  display: flex;
  gap: 2vmax;
}
.header nav ul li {
  list-style: none;
  font-size: 1.2vmax;
  font-weight: 500;
}
.nav {
  text-decoration: none;
  color: #ffff;
  transition: 0.4s;
  position: relative;
}

.nav:hover {
  color: #fcdc2a;
}
.active {
  color: #fcdc2a;
  position: relative;
}
.active::after {
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  background-color: #fcdc2a;
  left: 1px;
  bottom: 0;
  line-height: 0;
}

#srch {
  height: 2.5vmax;
  background-color: #ffff;
  display: flex;
  align-items: center;
  border-radius: 2.5vmax;
  position: relative;
}
#srch input {
  height: 100%;
  outline: none;
  width: 15vmax;
  font-size: 1.2vmax;
  border: none;
  padding-left: 15px;
  background: transparent;
}
.s-icon {
  width: 3.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmax;
  background-color: #fcdc2a;
  height: 100%;
  cursor: pointer;
  border-radius:  0 10px 10px 0;
}
.result{
  position: absolute;
  top: 2.5vmax;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}
.result ul{
  padding: 1vmax 0;
  display: flex;
  flex-direction: column;
}
.result ul a{
  text-decoration: none;
  color: black;
}
.result ul li{
  padding: 0 2vmax;
  text-align: center;
}
.result ul li:hover{
  background-color: #c0c0c0;
  cursor: pointer;
}
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 3vmax;
  padding: 5px;
  z-index: 999;
  color: #fff;
}
.act {
  transform: translateX(100%);
  display: none;
}
.menu {
  position: fixed;
  background-color: #03091d;
  width: 100%;
  padding: 3vmax 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
  left: -100%;
  transition: all 0.5s;
  top: 6vmax;
}
.m-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vmax;
}

.m-nav ul li {
  list-style: none;
}
.m-nav ul li a {
  color: #fff;
  font-size: 3vmax;
  text-decoration: none;
}

#slider {
  height: 100%;
  min-width: 100%;
  display: flex;
  position: absolute;
  animation: slide 20s infinite;
  transition: all 0.5s;
  z-index: -9;
}
@keyframes slide {
  0% {
    left: 0;
  }
  16% {
    left: -100vw;
  }
  33% {
    left: -200vw;
  }
  50% {
    left: -300vw;
  }
  66% {
    left: -200vw;
  }
  82% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
#slider img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
  filter: brightness(50%);
}
#ani p {
  font-size: 2.5vmax;
  position: absolute;
  font-weight: 500;
  line-height: 10vmax;
  animation: move 10s infinite;
  bottom: 0;
  width: 70%;
  text-align: center;
}
@keyframes move {
  0% {
    top: 5vmax;
  }
  25% {
    top: -2vmax;
  }
  50% {
    top: -12vmax;
  }
  75% {
    top: -22vmax;
  }
  100% {
    top: -29vmax;
  }
}
#ani {
  position: relative;
  width: 85vmax;
  overflow: hidden;
  height: 6.5vmax;
  display: flex;
  text-align: center;
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #ffff;
  gap: 1vmax;
}
#hero section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero section h1 {
  font-size: 8vmax;
  font-weight: 600;
  color: #fcdc2a;
  line-height: 1;
  /* text-transform: uppercase; */
}
#hero span {
  font-weight: 300;
  font-size: 1.5vmax;
}
.btns {
  margin-top: 2vmax;
  display: flex;
  gap: 2vmax;
}
.btns button,
#page-8 button {
  height: 3.3vmax;
  width: 12vmax;
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(
    180deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  color: #000;
  font-weight: 500;
  font-size: 1.3vmax;
  cursor: pointer;
  border: none;
  border-radius: 3.5vmax;
  transition: all 0.5s;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.3);
}
.btns button:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

#page-2 {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFBDA;

}
#page-2 section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vmax;
}
#page-2 h1 {
  font-size: 5vmax;
  font-weight: 500;
  line-height: 1;
  color: black;
}
.boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmax;
}
.box {
  height: 13vmax;
  width: 13vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  background: hsla(152, 100%, 50%, 1);

  background: linear-gradient(
    180deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 55%
  );
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  cursor: pointer;
}
.box:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px 25px hsla(293, 100%, 50%, 0.7);
}
.box img {
  height: 8vmax;
  width: 8vmax;
  object-fit: cover;
  border-radius: 50%;
}
.box span {
  font-size: 1.2vmax;
  font-weight: 600;
  line-height: 1.3vmax;
  text-align: center;
}
#cer-page{
  height: 100vh;
  width: 100%;
  background-color: #FFFBDA;

}
#cer-page span{
  font-size: 2vmax;
  font-weight: 500;
  padding: 0.5vmax 0;
  text-align: center;
}
#cer-page section{
padding: 5vmax 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2vmax;
}
#cer-page  h1{
  font-size: 5vmax;
  font-weight: 500;
  line-height: 1;
  color: black;
  text-align: center;

}
.crts{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vmax;
  padding:0 10vmax ;
  width: 80vmax;
}
.crts img{
  height: 25vmax;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s;
}
.crts img:hover{
  transform: translateY(-15px);
}
#cer-page button:hover{
transform: translateY(-10px);
}
#page-3 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: #fff;
  background: url(../resources/p3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#page-3 section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5vmax;
}
#page-3 h1 {
  font-size: 5vmax;
}
#page-3 span {
  font-size: 2vmax;
}
#page-3 button,#cer-page button {
  height: 3.3vmax;
  width: 12vmax;
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(
    180deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  color: #000;
  font-weight: 500;
  font-size: 1.3vmax;
  cursor: pointer;
  border: none;
  border-radius: 3.5vmax;
  transition: all 0.5s;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.3);
}
#page-3 button:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.bg-img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -99;
  top: 0;
  filter: blur(2px);
}
.bg-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
#page-4 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vmax;
  padding: 5vmax 0;
  position: relative;
}

.p-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vmax;
  flex-wrap: wrap;
}
.p-boxs a {
  text-decoration: none;
  color: #000;
}
.p-boxL,
.p-boxR {
  padding: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(
    180deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );

  border-radius: 15px;

  width: 23vmax;
  gap: 1vmax;
  transition: transform 0.4s;
  cursor: pointer;
}
.p-boxL:hover,
.p-boxR:hover {
  transform: translateY(-25px);
  box-shadow: 10px 10px 25px rgba(255, 166, 0, 0.4);
}
.img {
  width: 100%;
  background-color: #fff;
  padding: 3vmax 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.p-boxL img,
.p-boxR img {
  height: 15vmax;
}
.p-boxL span,
.p-boxR span {
  font-size: 1.6vmax;
  text-align: center;
  font-weight: 500;
}
#page-5 {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10vmax;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 5vmax 0;
}
.s-page section {
  display: flex;
  gap: 2vmax;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.s-img,
.s-img2,
.s-img3,
.s-img4 {
  height: 80vh;
  width: 30vmax;
  object-fit: cover;
  border-radius: 15px;
}
.text,
.text2,
.text3,
.text4 {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  width: 50%;
}
.text,
.text2,
.text3,
.text4 h1 {
  font-size: 3vmax;
}
.text,
.text2,
.text3,
.text4 p {
  text-align: justify;
  font-size: 1.2vmax;
}
.text button,
.text2 button,
.text3 button {
  width: 10vmax;
  height: 2.5vmax;
  border: none;
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(
    180deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  border-radius: 5px;
  font-size: 1.2vmax;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s;
}
.text button:hover {
  transform: scale(0.9);
}
.text span {
  font-size: 1.5vmax;
  font-weight: 700;
}

#page-6 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vmax 0;
  position: relative;
  background: url(../resources/bg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  gap: 5vmax;
}

#page-7 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 8vmax 0;
  display: flex;
  align-items: center;
  gap: 5vmax;
  flex-direction: column;
}

#page-8 {
  background-color: #070f2b;
  overflow: hidden;
}
#page-8 section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 2vmax 0;
  gap: 2vmax;
}
#page-8 h1 {
  text-transform: uppercase;
  font-size: 4vmax;
  line-height: 1;
}
#page-8 p {
  width: 70%;
  font-size: 1.5vmax;
  text-align: center;
}





@media (width<600px) {
  #page-1 {
    height: 60vh;
  }
  #page-1 h1 {
    font-size: 2vmax;
  }
  .header nav {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
  .act {
    display: flex;
  }
  .header {
    padding: 0 2vmax;
    width: calc(100% - 4vmax);
  }
  #hero section h1 {
    font-size: 4.6vmax;
  }
  #hero span {
    font-size: 1.2vmax;
  }
  #page-3 h1 {
    text-align: center;
  }
  .s-img,
  .s-img2,
  .s-img3,
  .s-img4 {
    height: 40vh;
  }
  .text,
  .text2,
  .text3,
  .text4 {
    width: 80%;
  }
  #sec-2 {
    flex-direction: column-reverse;
  }
  footer {
    flex-direction: column;
  }
  footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-icon {
    display: flex;
  }
  .act {
    display: flex;
  }
  .crts{
    flex-direction: column;
    gap: 5vmax;
  }
}
